In [1]:
import pandas as pd

# Merge Data 1

=>E-Today(KWH)
The e-today(kwh) represent in each day  electrcity generation in kwh
=>Date
there is date column where it show what is that day in month and month in year

In [2]:

df_unit=None
for i in range(1,13):
     if i>=9 and i<=10:
            continue
     year=2025       
     if i>8:
        year=2024
        temp_df=pd.read_excel("data/{0}-{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
        df_unit=pd.concat([df_unit,temp_df],ignore_index=True)
        continue
     temp_df=pd.read_excel("data/{0}-0{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
     df_unit=pd.concat([df_unit,temp_df],ignore_index=True)

In [3]:
df_unit["date"]=pd.to_datetime(df_unit["date"])
df_unit

          date  E-Today(KWH)
0   2025-01-01            17
1   2025-01-02            14
2   2025-01-03            25
3   2025-01-04             7
4   2025-01-05            30
..         ...           ...
279 2024-12-27            18
280 2024-12-28            21
281 2024-12-29            22
282 2024-12-30            26
283 2024-12-31            11

[284 rows x 2 columns]

In [4]:
df_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          284 non-null    datetime64[ns]
 1   E-Today(KWH)  284 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.6 KB

Description:
The dataset contains 284 daily records of solar energy generation. It includes two columns:

date (datetime) — the calendar date of each record.

E-Today(KWH) (integer) — the total energy generated on that day in kilowatt-hours (kWh).All entries are complete with no missing values, covering approximately one year of daily solar production data.

In [5]:
df_unit.describe()

                      date  E-Today(KWH)
count                  284    284.000000
mean   2025-04-06 12:00:00     37.693662
min    2024-11-16 00:00:00      1.000000
25%    2025-01-25 18:00:00     27.000000
50%    2025-04-06 12:00:00     38.000000
75%    2025-06-16 06:00:00     50.000000
max    2025-08-26 00:00:00     62.000000
std                    NaN     14.139181

In [6]:
df_unit["date"].min()

Timestamp('2024-11-16 00:00:00')

# Merge Data 2

=>Time
the time column represent in which day and in which time solar unit generation down like in single day there is multiple fault 
=>event
the event column show which event occure that specific time

In [7]:
df_error=pd.DataFrame()
for i in range(0,44):
     temp_df=pd.read_excel("data/error_2025-09-16 ({0}).xlsx".format(i),usecols=["time","event"])
     df_error=pd.concat([df_error,temp_df],ignore_index=True)

df_error.rename(columns={"time":"time/date"},inplace=True)
df_error["time/date"]=pd.to_datetime(df_error["time/date"])
df_error["date"]=pd.to_datetime(df_error["time/date"].dt.date)

df_error

               time/date                    event       date
0    2024-11-19 17:35:06    A1-Grid under voltage 2024-11-19
1    2024-11-19 17:35:06           A2-Grid absent 2024-11-19
2    2024-11-19 17:35:06  A4-Grid under frequency 2024-11-19
3    2024-11-19 17:35:06    A1-Grid under voltage 2024-11-19
4    2024-11-19 17:35:06           A2-Grid absent 2024-11-19
...                  ...                      ...        ...
1276 2025-09-06 12:51:50     A0-Grid over voltage 2025-09-06
1277 2025-09-06 12:15:46     A0-Grid over voltage 2025-09-06
1278 2025-09-06 12:04:51     A0-Grid over voltage 2025-09-06
1279 2025-09-06 11:11:43     A0-Grid over voltage 2025-09-06
1280 2025-09-06 10:42:57     A0-Grid over voltage 2025-09-06

[1281 rows x 3 columns]

In [8]:
df_error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time/date  1281 non-null   datetime64[ns]
 1   event      1281 non-null   object
 2   date       1281 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 30.2+ KB

Description

The dataset contains 1,281 event records, each with a timestamp and a corresponding event type. It includes two object-type columns:

time/date — the raw timestamp of each recorded event (currently stored as string/object).
event — a text label describing what happened at that specific time.
All entries are complete with no missing values.

In [9]:
df_error.describe()

                           time/date                           date
count                           1281                           1281
mean   2025-05-09 05:07:28.307572224  2025-05-08 16:23:36.393442560
min              2024-11-19 17:35:06            2024-11-19 00:00:00
25%              2025-03-07 16:25:06            2025-03-07 00:00:00
50%              2025-05-09 11:24:04            2025-05-09 00:00:00
75%              2025-07-18 07:57:13            2025-07-18 00:00:00
max              2025-09-11 12:07:02            2025-09-11 00:00:00

# importanwarnning before joining data

there is mismatch in date 
data in df_unit is start from   2024-11-16  to   2025-08-26
data in df_error is start from  2024-11-19  to   2025-09-11

Join Type	     What You Get	          Good For
outer            all dates from both df   full timeline, dashboards, ML 
left (df_error)  only event dates         event-based analysis
left (df_unit)   only solar dates         solar performance analysis
inner            only overlapping dates   strict ML dataset

# Joining data (unified view of data)

In [10]:
df_error.columns

Index(['time/date', 'event', 'date'], dtype='object')

In [11]:
df_unit.columns

Index(['date', 'E-Today(KWH)'], dtype='object')

In [12]:


df_left=df_error.merge(df_unit, on='date', how='left')
df_left

               time/date                    event       date  E-Today(KWH)
0    2024-11-19 17:35:06    A1-Grid under voltage 2024-11-19          39.0
1    2024-11-19 17:35:06           A2-Grid absent 2024-11-19          39.0
2    2024-11-19 17:35:06  A4-Grid under frequency 2024-11-19          39.0
3    2024-11-19 17:35:06    A1-Grid under voltage 2024-11-19          39.0
4    2024-11-19 17:35:06           A2-Grid absent 2024-11-19          39.0
...                  ...                      ...        ...           ...
1276 2025-09-06 12:51:50     A0-Grid over voltage 2025-09-06           NaN
1277 2025-09-06 12:15:46     A0-Grid over voltage 2025-09-06           NaN
1278 2025-09-06 12:04:51     A0-Grid over voltage 2025-09-06           NaN
1279 2025-09-06 11:11:43     A0-Grid over voltage 2025-09-06           NaN
1280 2025-09-06 10:42:57     A0-Grid over voltage 2025-09-06           NaN

[1281 rows x 4 columns]

In [13]:
df_outer=df_error.merge(df_unit, on='date', how='outer')
df_outer

               time/date                  event       date  E-Today(KWH)
0                    NaT                    NaN 2024-11-16           8.0
1                    NaT                    NaN 2024-11-17          40.0
2                    NaT                    NaN 2024-11-18          39.0
3    2024-11-19 17:35:06  A1-Grid under voltage 2024-11-19          39.0
4    2024-11-19 17:35:06         A2-Grid absent 2024-11-19          39.0
...                  ...                    ...        ...           ...
1438 2025-09-07 06:46:46   A0-Grid over voltage 2025-09-07           NaN
1439 2025-09-11 12:07:02   A0-Grid over voltage 2025-09-11           NaN
1440 2025-09-11 12:02:16   A0-Grid over voltage 2025-09-11           NaN
1441 2025-09-11 10:13:39   A0-Grid over voltage 2025-09-11           NaN
1442 2025-09-11 10:04:49   A0-Grid over voltage 2025-09-11           NaN

[1443 rows x 4 columns]

# Export data

In [16]:
# df_left.to_pickle("data/combined_data.pkl")
# df_outer.to_pickle("data/combined_outer_data.pkl")