In [1]:
import pandas as pd

# Merge Data 1

=>E-Today(KWH)
The e-today(kwh) represent in each day  electrcity generation in kwh
=>Date
there is date column where it show what is that day in month and month in year

In [2]:

df_unit=None
for i in range(1,13):
     if i>=9 and i<=10:
            continue
     year=2025       
     if i>8:
        year=2024
        temp_df=pd.read_excel("{0}-{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
        df_unit=pd.concat([df_unit,temp_df],ignore_index=True)
        continue
     temp_df=pd.read_excel("{0}-0{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
     df_unit=pd.concat([df_unit,temp_df],ignore_index=True)

In [3]:
df_unit["date"]=pd.to_datetime(df_unit["date"])
df_unit

          date  E-Today(KWH)
0   2025-01-01            17
1   2025-01-02            14
2   2025-01-03            25
3   2025-01-04             7
4   2025-01-05            30
..         ...           ...
279 2024-12-27            18
280 2024-12-28            21
281 2024-12-29            22
282 2024-12-30            26
283 2024-12-31            11

[284 rows x 2 columns]

In [4]:
df_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          284 non-null    datetime64[ns]
 1   E-Today(KWH)  284 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.6 KB

Description:
The dataset contains 284 daily records of solar energy generation. It includes two columns:

date (datetime) — the calendar date of each record.

E-Today(KWH) (integer) — the total energy generated on that day in kilowatt-hours (kWh).All entries are complete with no missing values, covering approximately one year of daily solar production data.

Feature extraction

In [5]:
df_unit["months"]=df_unit.date.dt.month_name()
df_unit["days"]=df_unit.date.dt.day_name()
df_unit["years"]=df_unit.date.dt.year
df_unit["week"]=df_unit.date.dt.isocalendar().week
df_unit["DayOfWeek"]=df_unit.date.dt.weekday
df_unit['IsWeekend'] = df_unit['date'].dt.weekday >= 5
df_unit['Quarter'] = df_unit['date'].dt.quarter
df_unit["date"]=pd.to_datetime(df_unit["date"]).dt.date

df_unit

,date,E-Today(KWH),months,days,years,week,DayOfWeek,IsWeekend,Quarter
0,2025-01-01,17,January,Wednesday,2025,1,2,False,1
1,2025-01-02,14,January,Thursday,2025,1,3,False,1
2,2025-01-03,25,January,Friday,2025,1,4,False,1
3,2025-01-04,7,January,Saturday,2025,1,5,True,1
4,2025-01-05,30,January,Sunday,2025,1,6,True,1
...,...,...,...,...,...,...,...,...,...
279,2024-12-27,18,December,Friday,2024,52,4,False,4
280,2024-12-28,21,December,Saturday,2024,52,5,True,4
281,2024-12-29,22,December,Sunday,2024,52,6,True,4
282,2024-12-30,26,December,Monday,2024,1,0,False,4
283,2024-12-31,11,December,Tuesday,2024,1,1,False,4

In [6]:
df_unit.describe()

       E-Today(KWH)        years       week   DayOfWeek     Quarter
count    284.000000   284.000000      284.0  284.000000  284.000000
mean      37.693662  2024.838028  22.556338    3.000000    2.207746
std       14.139181     0.369075  14.683239    2.012329    1.061273
min        1.000000  2024.000000        1.0    0.000000    1.000000
25%       27.000000  2025.000000       11.0    1.000000    1.000000
50%       38.000000  2025.000000       21.0    3.000000    2.000000
75%       50.000000  2025.000000       31.0    5.000000    3.000000
max       62.000000  2025.000000       52.0    6.000000    4.000000

In [16]:
df_unit["date"].min()

datetime.date(2024, 11, 16)

# Merge Data 2

=>Time
the time column represent in which day and in which time solar unit generation down like in single day there is multiple fault 
=>event
the event column show which event occure that specific time

In [7]:
df_error=pd.DataFrame()
for i in range(0,44):
     temp_df=pd.read_excel("error_2025-09-16 ({0}).xlsx".format(i),usecols=["time","event"])
     df_error=pd.concat([df_error,temp_df],ignore_index=True)

df_error.rename(columns={"time":"time/date"},inplace=True)    
df_error

                time/date                    event
0     2024-11-19 17:35:06    A1-Grid under voltage
1     2024-11-19 17:35:06           A2-Grid absent
2     2024-11-19 17:35:06  A4-Grid under frequency
3     2024-11-19 17:35:06    A1-Grid under voltage
4     2024-11-19 17:35:06           A2-Grid absent
...                   ...                      ...
1276  2025-09-06 12:51:50     A0-Grid over voltage
1277  2025-09-06 12:15:46     A0-Grid over voltage
1278  2025-09-06 12:04:51     A0-Grid over voltage
1279  2025-09-06 11:11:43     A0-Grid over voltage
1280  2025-09-06 10:42:57     A0-Grid over voltage

[1281 rows x 2 columns]

In [8]:
df_error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281 entries, 0 to 1280
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time/date  1281 non-null   object
 1   event      1281 non-null   object
dtypes: object(2)
memory usage: 20.1+ KB

Description

The dataset contains 1,281 event records, each with a timestamp and a corresponding event type. It includes two object-type columns:

time/date — the raw timestamp of each recorded event (currently stored as string/object).
event — a text label describing what happened at that specific time.
All entries are complete with no missing values.

Feature extraction

In [9]:
df_error["time/date"]=pd.to_datetime(df_error["time/date"])
df_error["date"]=df_error["time/date"].dt.date
df_error["time"]=df_error["time/date"].dt.strftime('%H:%M:%S')

df_error["months"]=df_error["time/date"].dt.month_name()
df_error["days"]=df_error["time/date"].dt.day_name()
df_error["years"]=df_error["time/date"].dt.year
df_error["week"]=df_error["time/date"].dt.isocalendar().week
df_error["DayOfWeek"]=df_error["time/date"].dt.weekday
df_error['IsWeekend'] = df_error["time/date"].dt.weekday >= 5
df_error['Quarter'] = df_error["time/date"].dt.quarter

df_error

,time/date,event,date,time,months,days,years,week,DayOfWeek,IsWeekend,Quarter
0,2024-11-19 17:35:06,A1-Grid under voltage,2024-11-19,17:35:06,November,Tuesday,2024,47,1,False,4
1,2024-11-19 17:35:06,A2-Grid absent,2024-11-19,17:35:06,November,Tuesday,2024,47,1,False,4
2,2024-11-19 17:35:06,A4-Grid under frequency,2024-11-19,17:35:06,November,Tuesday,2024,47,1,False,4
3,2024-11-19 17:35:06,A1-Grid under voltage,2024-11-19,17:35:06,November,Tuesday,2024,47,1,False,4
4,2024-11-19 17:35:06,A2-Grid absent,2024-11-19,17:35:06,November,Tuesday,2024,47,1,False,4
...,...,...,...,...,...,...,...,...,...,...,...
1276,2025-09-06 12:51:50,A0-Grid over voltage,2025-09-06,12:51:50,September,Saturday,2025,36,5,True,3
1277,2025-09-06 12:15:46,A0-Grid over voltage,2025-09-06,12:15:46,September,Saturday,2025,36,5,True,3
1278,2025-09-06 12:04:51,A0-Grid over voltage,2025-09-06,12:04:51,September,Saturday,2025,36,5,True,3
1279,2025-09-06 11:11:43,A0-Grid over voltage,2025-09-06,11:11:43,September,Saturday,2025,36,5,True,3
1280,2025-09-06 10:42:57,A0-Grid over voltage,2025-09-06,10:42:57,September,Saturday,2025,36,5,True,3

In [10]:
df_error.describe()

,time/date,years,week,DayOfWeek,Quarter
count,1281,1281.000000,1281.0,1281.000000,1281.000000
mean,2025-05-09 05:07:28.307572224,2024.953162,21.29274,2.978142,2.028103
min,2024-11-19 17:35:06,2024.000000,1.0,0.000000,1.000000
25%,2025-03-07 16:25:06,2025.000000,12.0,1.000000,1.000000
50%,2025-05-09 11:24:04,2025.000000,21.0,3.000000,2.000000
75%,2025-07-18 07:57:13,2025.000000,32.0,5.000000,3.000000
max,2025-09-11 12:07:02,2025.000000,51.0,6.000000,4.000000
std,NaN,0.211375,11.735204,1.925850,0.924066

# importanwarnning before joining data

there is mismatch in date 
data in df_unit is start from   2024-11-16  to   2025-08-26
data in df_error is start from  2024-11-19  to   2025-09-11

Join Type	     What You Get	          Good For
outer            all dates from both df   full timeline, dashboards, ML 
left (df_error)  only event dates         event-based analysis
left (df_unit)   only solar dates         solar performance analysis
inner            only overlapping dates   strict ML dataset

# Joining data (unified view of data)

In [11]:
df_error.columns

Index(['time/date', 'event', 'date', 'time', 'months', 'days', 'years', 'week',
       'DayOfWeek', 'IsWeekend', 'Quarter'],
      dtype='object')

In [12]:
df_unit.columns

Index(['date', 'E-Today(KWH)', 'months', 'days', 'years', 'week', 'DayOfWeek',
       'IsWeekend', 'Quarter'],
      dtype='object')

In [13]:
df_events = df_error.drop(columns=[
    'months', 'days', 'years', 'week', 
    'DayOfWeek', 'IsWeekend', 'Quarter'
]).copy()

df=merged = df_events.merge(df_unit, on='date', how='left')

In [14]:
df_events = df_error.drop(columns=[
    'months', 'days', 'years', 'week', 
    'DayOfWeek', 'IsWeekend', 'Quarter'
]).copy()

df_outer=df_events.merge(df_unit, on='date', how='outer')
df_outer.describe()

,time/date,E-Today(KWH),years,week,DayOfWeek,Quarter
count,1281,1309.000000,1309.000000,1309.0,1309.000000,1309.000000
mean,2025-05-09 05:07:28.307572224,34.720397,2024.925898,20.34301,2.932009,1.974790
min,2024-11-19 17:35:06,1.000000,2024.000000,1.0,0.000000,1.000000
25%,2025-03-07 16:25:06,25.000000,2025.000000,11.0,1.000000,1.000000
50%,2025-05-09 11:24:04,35.000000,2025.000000,19.0,3.000000,2.000000
75%,2025-07-18 07:57:13,48.000000,2025.000000,29.0,5.000000,3.000000
max,2025-09-11 12:07:02,62.000000,2025.000000,52.0,6.000000,4.000000
std,NaN,14.107323,0.262038,12.089656,1.949466,0.949878

# Export data

In [15]:
# df.to_pickle("combined_data.pkl")
# df_outer.to_pickle("combined_outer_data.pkl")