In [2]:
import pandas as pd

# Datetime and electiy unit per day (concate Relation)

In [6]:

df_unit=None
for i in range(1,13):
     if i>=9 and i<=10:
            continue
     year=2025       
     if i>8:
        year=2024
        temp_df=pd.read_excel("{0}-{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
        df_unit=pd.concat([df_unit,temp_df],ignore_index=True)
        continue
     temp_df=pd.read_excel("{0}-0{1}.xlsx".format(year,i),sheet_name=0,names=['date',"E-Today(KWH)"],usecols=[0,1],skiprows=3)
     df_unit=pd.concat([df_unit,temp_df],ignore_index=True)
      
df_unit

           date  E-Today(KWH)
0    2025-01-01            17
1    2025-01-02            14
2    2025-01-03            25
3    2025-01-04             7
4    2025-01-05            30
..          ...           ...
279  2024-12-27            18
280  2024-12-28            21
281  2024-12-29            22
282  2024-12-30            26
283  2024-12-31            11

[284 rows x 2 columns]

# DateTime and event(errors come per day)

In [16]:
df_error=pd.DataFrame()
for i in range(0,44):
     temp_df=pd.read_excel("error_2025-09-16 ({0}).xlsx".format(i),usecols=["time","event"])
     df_error=pd.concat([df_error,temp_df],ignore_index=True)

df_error

                     time                    event
0     2024-11-19 17:35:06    A1-Grid under voltage
1     2024-11-19 17:35:06           A2-Grid absent
2     2024-11-19 17:35:06  A4-Grid under frequency
3     2024-11-19 17:35:06    A1-Grid under voltage
4     2024-11-19 17:35:06           A2-Grid absent
...                   ...                      ...
1276  2025-09-06 12:51:50     A0-Grid over voltage
1277  2025-09-06 12:15:46     A0-Grid over voltage
1278  2025-09-06 12:04:51     A0-Grid over voltage
1279  2025-09-06 11:11:43     A0-Grid over voltage
1280  2025-09-06 10:42:57     A0-Grid over voltage

[1281 rows x 2 columns]

In [22]:
df_error["time"]=pd.to_datetime(df_error["time"])
df_error["date"]=df_error["time"].dt.date
df_error

                    time                    event        date
0    2024-11-19 17:35:06    A1-Grid under voltage  2024-11-19
1    2024-11-19 17:35:06           A2-Grid absent  2024-11-19
2    2024-11-19 17:35:06  A4-Grid under frequency  2024-11-19
3    2024-11-19 17:35:06    A1-Grid under voltage  2024-11-19
4    2024-11-19 17:35:06           A2-Grid absent  2024-11-19
...                  ...                      ...         ...
1276 2025-09-06 12:51:50     A0-Grid over voltage  2025-09-06
1277 2025-09-06 12:15:46     A0-Grid over voltage  2025-09-06
1278 2025-09-06 12:04:51     A0-Grid over voltage  2025-09-06
1279 2025-09-06 11:11:43     A0-Grid over voltage  2025-09-06
1280 2025-09-06 10:42:57     A0-Grid over voltage  2025-09-06

[1281 rows x 3 columns]

In [3]:
df["date"]=pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          284 non-null    datetime64[ns]
 1   E-Today(KWH)  284 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 4.6 KB

In [5]:
df["months"]=df.date.dt.month_name()
df["days"]=df.date.dt.day_name()
df["years"]=df.date.dt.year
df["week"]=df.date.dt.isocalendar().week
df

          date  E-Today(KWH)    months       days  years  week
0   2025-01-01            17   January  Wednesday   2025     1
1   2025-01-02            14   January   Thursday   2025     1
2   2025-01-03            25   January     Friday   2025     1
3   2025-01-04             7   January   Saturday   2025     1
4   2025-01-05            30   January     Sunday   2025     1
..         ...           ...       ...        ...    ...   ...
279 2024-12-27            18  December     Friday   2024    52
280 2024-12-28            21  December   Saturday   2024    52
281 2024-12-29            22  December     Sunday   2024    52
282 2024-12-30            26  December     Monday   2024     1
283 2024-12-31            11  December    Tuesday   2024     1

[284 rows x 6 columns]

In [4]:
df.describe()

                      date  E-Today(KWH)
count                  284    284.000000
mean   2025-04-06 12:00:00     37.693662
min    2024-11-16 00:00:00      1.000000
25%    2025-01-25 18:00:00     27.000000
50%    2025-04-06 12:00:00     38.000000
75%    2025-06-16 06:00:00     50.000000
max    2025-08-26 00:00:00     62.000000
std                    NaN     14.139181

# 1) electricity generate by solar plant per day throughout data set

1)find mean
2)find total

In [6]:
day_df=df.pivot_table(values="E-Today(KWH)",index="days",aggfunc=["sum","mean"])
day_df.sort_values(by=("sum","E-Today(KWH)"),ascending=False)

                   sum         mean
          E-Today(KWH) E-Today(KWH)
days
Sunday            1634    39.853659
Saturday          1615    39.390244
Tuesday           1552    37.853659
Monday            1522    37.121951
Friday            1479    36.975000
Thursday          1460    36.500000
Wednesday         1443    36.075000

#  2)electricity generate by solar plant per month (day wise) throughout data set

1)find mean 
2)find total

In [7]:
df.pivot_table(values="E-Today(KWH)",index="days",aggfunc=["mean"],columns="months",margins=True)

            mean                                                       \
months     April     August   December February    January       July
days
Friday     51.00  38.250000  25.750000    28.75  30.600000  46.000000
Monday     52.00  39.250000  26.600000    24.25  29.750000  39.500000
Saturday   56.25  42.000000  23.250000    35.50  25.500000  50.000000
Sunday     56.25  38.750000  22.600000    36.25  27.000000  37.750000
Thursday   41.50  35.666667  27.750000    32.25  30.200000  34.600000
Tuesday    51.40  36.750000  23.400000    22.50  30.250000  39.400000
Wednesday  42.40  38.000000  26.000000    30.50  23.400000  29.800000
All        49.90  38.500000  24.967742    30.00  28.096774  39.096774


months          June      March        May   November        All
days
Friday     40.750000  32.000000  48.200000  17.500000  36.975000
Monday     49.000000  27.800000  48.000000  37.000000  37.121951
Saturday   41.750000  50.800000  40.400000  20.666667  39.390244
Sunday     50.200000  50.600000  40.500000  35.500000  39.853659
Thursday   42.250000  40.750000  46.200000  30.000000  36.500000
Tuesday    53.500000  41.000000  44.500000  33.500000  37.853659
Wednesday  49.000000  39.000000  53.000000  30.500000  36.075000
All        46.833333  40.548387  45.741935  28.666667  37.693662

In [8]:
df.pivot_table(values="E-Today(KWH)",index="days",aggfunc=["sum"],columns="months",margins=True)

            sum                                                           \
months    April August December February January  July  June March   May
days
Friday      204    153      103      115     153   184   163   128   241
Monday      208    157      133       97     119   158   245   139   192
Saturday    225    168       93      142     102   200   167   254   202
Sunday      225    155      113      145     108   151   251   253   162
Thursday    166    107      111      129     151   173   169   163   231
Tuesday     257    147      117       90     121   197   214   164   178
Wednesday   212    114      104      122     117   149   196   156   212
All        1497   1001      774      840     871  1212  1405  1257  1418


months    November    All
days
Friday          35   1479
Monday          74   1522
Saturday        62   1615
Sunday          71   1634
Thursday        60   1460
Tuesday         67   1552
Wednesday       61   1443
All            430  10705

# concate all sheet if name)sheet=None

In [9]:
# df = pd.concat(sheets.values(), ignore_index=True)

# df